.home {
  padding-top: 2rem;

  &__node-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > li {
      position: relative;
    }

    & > li ::after {
      content: "";
      background-color: #999;
      position: absolute;
      width: 2px;
      height: 5rem;
      left: 50%;
      top: 100%;
    }
  }

  &__horLine {
    height: 5rem;
    background-color: transparent;
    margin: 0 auto;
    transform: translateY(5rem);
    border: 2px solid #999;
    border-bottom: none;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: block;
  }

  &__vertLine {
    width: 5rem;

    background-color: transparent;
    transform: translateY(-5rem);
    border: 2px solid #999;
    border-right: none;
    border-top: none;
    color: transparent;
    border-bottom-left-radius: 100px;

    position: absolute;

    top: 0;
    left: -22.5%;
  }

  &__node-child {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    position: relative;
    width: 100%;

    &--vert {
      flex-direction: column;
      position: absolute;
      left: 15%;
      top: 80%;
    }
  }

  &__node-item {
    &:not(:last-child) {
      margin-right: 10rem;

      position: relative;
    }

    &:not(:first-child, :last-child)::before {
      content: "";
      height: 5rem;
      width: 2px;
      background-color: #999;
      position: absolute;
      top: -5rem;
      left: 50%;
    }
    &--vert {
      &:not(:last-child) {
        margin-bottom: 10rem;

        position: relative;
      }
    }
  }
}
