* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style: none;
}

$font-md: 1.6rem;
$font-sm: 1.4rem;
